.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
settings.h
config.json
*.pem
**/data/certbot/
SERVICE_ACCOUNT.JSON
home-assistant/config/secrets.yaml
home-assistant/config/home-assistant*
home-assistant/home-assistant-backup*.tgz
home-assistant/config/backups/
home-assistant/config/.HA_VERSION
home-assistant/config/.storage
home-assistant/config/*.db
home-assistant/config/*.db-shm
home-assistant/config/*.db-wal
home-assistant/config/*.db.old
home-assistant/config/tts
home-assistant/config/custom_components/
home-assistant/config/www/community/
home-assistant/config/image
