version: '3'
services:
  homeassistant:
    container_name: home-assistant
    image: ghcr.io/home-assistant/home-assistant:2022.9
    volumes:
      - ${HOME}/Switch433Control/home-assistant/config:/config
    environment:
      - TZ=Europe/Paris
    network_mode: host
    restart: always
    depends_on: 
      - mqtt
      - nginx

  mqtt:
    container_name: MQTT
    restart: unless-stopped
    image: eclipse-mosquitto:1.6
    command: ["/usr/sbin/mosquitto", "-c", "/mosquitto/config/mosquitto.conf"]
    network_mode: host
    environment:
      - TZ=Europe/Paris

  nginx:
    container_name: nginx
    image: nginx:1.15-alpine
    restart: unless-stopped
    volumes:
      - ${HOME}/Switch433Control/home-assistant/nginx-certbot/data/nginx:/etc/nginx/conf.d
      - ${HOME}/Switch433Control/home-assistant/nginx-certbot/data/certbot/conf:/etc/letsencrypt
      - ${HOME}/Switch433Control/home-assistant/nginx-certbot/data/certbot/www:/var/www/certbot
    ports:
      - "8080:80"
      - "8443:443"
      - "81:81"
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    labels:
      com.datadoghq.ad.check_names: '["nginx"]'
      com.datadoghq.ad.init_configs: '[{},{}]'
      com.datadoghq.ad.instances: '[[{"nginx_status_url": "http://%%host%%:81/nginx_status/"}]]'
      com.datadoghq.ad.logs: '[{"source": "nginx", "service": "nginx"}]'

  certbot:
    container_name: certbot
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ${HOME}/Switch433Control/home-assistant/nginx-certbot/data/certbot/conf:/etc/letsencrypt
      - ${HOME}/Switch433Control/home-assistant/nginx-certbot/data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  homie:
    container_name: homie-ota
    image: ivdata/homie-ota
    restart: always
    volumes:
      - ${HOME}/Switch433Control/home-assistant/homie-ota.ini:/app/homie-ota.ini
    ports:
    - "9080:9080"

  esphome:
      container_name: esphome
      image: esphome/esphome:2022.4.0
      volumes:
        - ${HOME}/Switch433Control/ESPHome/:/config:rw
        # Use local time for logging timestamps
        - /etc/localtime:/etc/localtime:ro
      network_mode: host
      restart: always
  
  teleinfo2mqtt:
    image: fmartinou/teleinfo-mqtt
    container_name: teleinfo2mqtt
    devices:
      - /dev/ttyTeleinfo:/dev/ttyUSB0             # Serial port device
    environment:
      - MQTT_URL=mqtt://192.168.1.252:1883   # MQTT broker url  
