
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  base_url: https://demikl.hopto.org
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.21.0.2

homeassistant:
  customize_domain:
    switch:
      hidden: true

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

mqtt:
    broker: 192.168.1.252

switch:
  - platform: mqtt
    name: sw1
    command_topic: "cmnd/switch1/power"
    state_topic: "stat/switch1/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true

  - platform: mqtt
    name: sw2
    command_topic: "cmnd/switch2/power"
    state_topic: "stat/switch2/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true

  - platform: mqtt
    name: sw3
    command_topic: "cmnd/switch3/power"
    state_topic: "stat/switch3/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true

  - platform: mqtt
    name: sw4
    command_topic: "cmnd/switch4/power"
    state_topic: "stat/switch4/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true

  - platform: mqtt
    name: sw5
    command_topic: "cmnd/switch5/power"
    state_topic: "stat/switch5/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true

light:
  - platform: switch
    name: arbre violet
    entity_id: switch.sw1
  - platform: switch
    name: derrière télé
    entity_id: switch.sw2

google_assistant:
  project_id: domotic-146011
  #api_key: blablabla
  service_account: !include SERVICE_ACCOUNT.JSON
  report_state: true
  expose_by_default: true
  exposed_domains:
    - light
    - groups
  entity_config:
    light.arbre_violet:
      name: l'arbre violet
    light.derriere_tele:
      name: la lampe de la télé
      aliases:
        - la lampe derrière la télé

device_tracker:
  - platform: ping
    hosts:
      TV_salon: 192.168.31.56
      Tablette_Raphaël old: 192.168.31.72
      Tablette_Océane: 192.168.31.193
      Honor_8X: 192.168.31.126
      Wii: 192.168.31.141
      WiFi_AP: 192.168.1.45

upnp:
  sensors: true
