
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.18.0.4
    - 172.18.0.2

homeassistant:
  external_url: https://demikl.hopto.org
  internal_url: http://192.168.1.252:8123
  customize:
    switch.sw1:
      hidden: true
    switch.sw2:
      hidden: true
    switch.sw3:
      hidden: true

# Text to speech
tts:
#  - platform: google_translate
#    language: fr
#    cache: true
#    cache_dir: /tmp/tts
#    time_memory: 300
#    base_url: https://demikl.hopto.org
#    service_name: google_say
   - platform: watson_tts
     watson_apikey: !secret ibm_watson_tts_apikey
     watson_url: "https://api.eu-de.text-to-speech.watson.cloud.ibm.com/instances/962772bb-b33f-431f-a63a-d0254ce49612"
     #voice: "fr-FR_ReneeV3Voice"
     voice: "fr-FR_NicolasV3Voice"

sensor: !include sensors.yaml
group: !include groups.yaml
automation ui: !include automations.yaml
automation sonoff: !include automations/sonoff_t1_etage.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

mqtt:
    broker: 192.168.1.252
    discovery: true

influxdb:
  host: 192.168.1.53
  include:
    entities:
    - weather.la_bruffiere
    - sensor.rf_433_mhz_luminosite
    - sensor.rf_433_mhz_temperature
    - sensor.esphome_iot_gardening_1_moisture_1
    - sensor.bme280_temperature
    - sensor.bme280_humidity
    - sensor.bme280_pressure
    - sensor.chambre_des_parents_humidite
    - sensor.chambre_des_parents_temperature

meteo_france:
  - city: '85530'

switch:
  - platform: flux
    lights:
    - light.fastled_spi_light
    start_time: "7:00:00"
    stop_time: "22:00:00"
    start_colortemp: 4500
    brightness: 255
    interval: 900

  - platform: mqtt
    name: sw1
    command_topic: "homie/rf-sockets-salon/switches_1/on/set"
    state_topic: "homie/rf-sockets-salon/switches_1/on"
    availability_topic: "homie/rf-sockets-salon/$state"
    payload_on: "on"
    payload_off: "off"
    payload_available: "ready"
    payload_not_available: "lost"

  - platform: mqtt
    name: sw2
    command_topic: "homie/rf-sockets-salon/switches_2/on/set"
    state_topic: "homie/rf-sockets-salon/switches_2/on"
    availability_topic: "homie/rf-sockets-salon/$state"
    payload_on: "on"
    payload_off: "off"
    payload_available: "ready"
    payload_not_available: "lost"

  - platform: mqtt
    name: sw3
    command_topic: "homie/rf-sockets-salon/switches_3/on/set"
    state_topic: "homie/rf-sockets-salon/switches_3/on"
    availability_topic: "homie/rf-sockets-salon/$state"
    payload_on: "on"
    payload_off: "off"
    payload_available: "ready"
    payload_not_available: "lost"

  - platform: mqtt
    name: sw4
    command_topic: "homie/rf-sockets-salon/switches_4/on/set"
    state_topic: "homie/rf-sockets-salon/switches_4/on"
    availability_topic: "homie/rf-sockets-salon/$state"
    payload_on: "on"
    payload_off: "off"
    payload_available: "ready"
    payload_not_available: "lost"

  - platform: mqtt
    name: sw5
    command_topic: "homie/rf-sockets-salon/switches_5/on/set"
    state_topic: "homie/rf-sockets-salon/switches_5/on"
    availability_topic: "homie/rf-sockets-salon/$state"
    payload_on: "on"
    payload_off: "off"
    payload_available: "ready"
    payload_not_available: "lost"

light:
  - platform: switch
    name: arbre violet
    entity_id: switch.sw1
  - platform: switch
    name: derrière télé
    entity_id: switch.sw2
  - platform: switch
    name: tipi Océane
    entity_id: switch.sw3
  - platform: switch
    name: sapin de Noel
    entity_id: switch.sw4

google_assistant:
  project_id: domotic-146011
  #api_key: blablabla
  service_account: !include SERVICE_ACCOUNT.JSON
  report_state: true
  expose_by_default: true
  exposed_domains:
    - light
    - groups
  entity_config:
    light.arbre_violet:
      name: l'arbre violet
    light.derriere_tele:
      name: la lampe de la télé
      aliases:
        - la lampe derrière la télé
    light.tipi_oceane:
      name: Tipi Océane
      aliases:
        - le tipi d'Océane
        - la veilleuse d'Océane
        - la veilleuse dans la chambre d'Océane

device_tracker:
  - platform: ping
    hosts:
      pc_portable_evtech: 192.168.1.41
      tv_salon: 192.168.1.31
      tablette_raphael_old: 192.168.1.47
      tablette_raphael_new: 192.168.1.30
      tablette_oceane: 192.168.1.48
      honor_8x: 192.168.1.23
      nintendo_wii: 192.168.31.141
      nintendo_switch: 192.168.1.49
      wifi_ap: 192.168.1.45

upnp:

calendar:
  - platform: todoist
    token: !secret todoist_apikey

counter:
  presence_chambre:

binary_sensor:
  - platform: template
    sensors:
      long_term_parents_bedroom_presence:
        friendly_name: "Présence long-terme chambre parents"
        delay_off:
          minutes: 15
        value_template: >-
          {{ is_state('binary_sensor.chambre_des_parents_pir_sensor', 'on') }}

  - platform: trend
    sensors:
      chambre_parents_temp_falling_long:
        entity_id: sensor.chambre_des_parents_temperature
        sample_duration: 1800
        max_samples: 180
        min_gradient: -0.00028
        device_class: cold

      chambre_parents_temp_falling_short:
        entity_id: sensor.chambre_des_parents_temperature
        sample_duration: 300
        max_samples: 180
        min_gradient: -0.00028
        device_class: cold

      chambre_parents_temp_rising_short:
        entity_id: sensor.chambre_des_parents_temperature
        sample_duration: 300
        max_samples: 180
        min_gradient: 0.0000277
        device_class: heat
